<div class="sticky-notes-container">
  <a href="/notes/new" class="new-btn sticky-note compact">
    <img class="fit-picture" src="/create_new_note.png" alt="create new note" width=60px height=60px>
  </a>
  <% @notes.each do |id, post| %>
    <a href="/notes/<%= id %>" class="sticky-note compact">
      <div class="short title"><%= h(post["title"]) %></div>
      <div class="short content"><%= h(post["content"]) %></div>
    </a>
  <% end %>
</div>
