<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>QuickNote</title>
</head>
<body>
  <div class="container">
    <a href="/notes" class="logo-link">
      <h1 class="logo">QuickNote</h1>
    </a>
    <div class="main-container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
